body {
/*  Typography Declarations */
    color: #00405C;
    background: #F1F3F0
    font-size: 1em;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

.content-footer,
.masthead-heading,
.masthead-intro {
    text-align: center;
}

.masthead {
    padding: 6em 0;
    background-image: url('images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-top: solid 1em #4C718B;
}

.masthead-intro {
    margin-bottom: 0.1em;
    font-family: "Gentium Book Basic", Georgia, serif;
    font-size: 2em;
}

.masthead-heading {
    margin-top: -0.2em;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: bold;
    font-size: 6em;
    letter-spacing: -0.02em;
    text-transform: uppercase;
}

.introduction-section,
.location-section,
.questions-section {
    max-width: 38em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
}

.social > li {
    display: inline-block;
}

.content-footer > p {
    color: grey;
}

.introduction-section > p,
.location-section > p,
.content-footer > p {
    /* Typography Declarations */
    font-weight: 300;
    letter-spacing: 0.05em;
}

.questions-section > h2 {
    /* Typography Declarations */
    font-family: "Gentium Book Basic", Georgia, serif;
    font-size: 1.2em;
    font-weight: bold;
}

section > h1 {
    margin-top: 2em;
}
@media only screen  {
    .masthead {
        padding: 3em 0;
    }
    .masthead-heading {
        font-size: 6em;
    }
    .social {
        font-size: 3em;
    }
}
